rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid}/times/{document=**} {
      allow read, write: if
          uid == request.auth.uid;
    }
  }
}